# Игнорируем каталог в корне рабочей директории
/bashtop/
/dconf/
/gnome-session/
/go/
/gtk-3.0/
/ibus/
/libreoffice/
/nautilius/
/pulse/
/spotify/
/systemd/
/waybar/
/xfce4/
/yay/
/Thunar/
/autostart/
/ags/
/HyprPanel/
/obsidian/
/qBittorrent/

# Игнорируем файл в любой директории проекта
.gsd-keyboard.settings-ported
QtProject.conf
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
ags
/nvim/lazy-lock.json

# игнорируем каталог внутри любового католога
